
.stack-work/

.vscode/

stack.yaml.lock

data/.curry/

examples/.curry/

dist-newstyle/

benchmarks/.curry/

*.prof

*.html

Run.curry

*.icurry

effective

benchmarks/efci.eventlog

benchmarks/efci.hp
